{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% block stylesheets %}

	{#{{ encore_entry_link_tags('app') }}#}
{% endblock %}


{% block body %}
	<style>
		body {
			background-color: white;

		}
	</style>

	{{ include('components/navbar.html.twig') }}

	<div class="container">
		<h1>Register</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.b_dathe, {

            label: 'Birthdate'
        }) }}
		{{ form_row(registrationForm.phone, {

            label: 'Phone number (optional)'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn btn-secondary">Register</button>
		{{ form_end(registrationForm) }}
	</div>

{% endblock %}
